body{
    color: rgb(223, 102, 10);
    color: rgb(3, 10, 118);
    color: rgb(199, 6, 73);
    color: rgb(235, 235, 240);
    color: rgb(240, 240, 240);
    color: rgb(1, 1, 12);
    color: #212121;
  color: #eb1beb;
}


